<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@1.11">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@1.11">
    <script>node {
build &apos;BuildPetClinic_Job&apos;
build &apos;Provisioning_Perf&apos;
build &apos;RunPerfTest&apos;
build &apos;Provisioning_Perf_Cleanup&apos;
}</script>
    <sandbox>false</sandbox>
  </definition>
  <triggers/>
</flow-definition>